* {
  box-sizing: border-box;
}

#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #181623;
  border: 1px solid #34323f;
  padding: 2rem 3rem 1rem 3rem;
  border-radius: 15px;
  box-shadow: 0 10px 15px #0000005c;
}

.loader-circle {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.service-container {
  display: flex;
  /* justify-content: center; */
}


.volunteers {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.7rem;
}

.volunteers li {
  margin-bottom: 1.5rem;
  white-space: nowrap;
  background-color: #1c1a28;
  outline: 1px solid #211f2d;
  padding: 0.7rem;
  border-radius: 5px;
}

.songs {
  list-style: none;
  margin: 0;
  line-height: 1.7rem;
  background-color: #1c1a28;
  outline: 1px solid #211f2d;
  padding: 0.7rem;
  border-radius: 5px;
}

.service-module {
  background-color: #181623;
  border: 1px solid #34323f;
  padding: 1.5rem;
  margin: 0 1rem;
  border-radius: 15px;
  box-shadow: 0 10px 15px #0000005c;
  width: 100%;
  box-sizing: border-box;
}

.status-icon {
  margin-bottom: -2.5px;
}

@media screen and (max-width: 480px) {
  #root {
    padding: 1rem;
  }
  
  .service-container {
    flex-direction: column;
    align-items: center;
    max-width: 400px;
  }

  .service-module {
    margin-bottom: 2rem;
  }
}